.fav-movies {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.fav-movies__title {
    color: #bdbdbd;
    font-size: 40px;
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 35px 0 0 0;
    padding: 10px 25px;
    width: fit-content;
    background-color: rgb(20, 20, 20, 0.65);
    border-radius: 25px;
}

.fav-movies__text-container {
    min-height: 400px;
}

.fav-movies__text {
    max-width: 80%;
    text-align: center;
    margin: 90px auto 0;
    font-size: 35px;
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
}

@media screen and (max-width: 730px) and (min-width: 450px) {
    .fav-movies__title {
        font-size: 32px;
    }

    .fav-movies__text {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
    .fav-movies__title {
        font-size: 25px;
    }

    .fav-movies__text {
        font-size: 23px;
    }
}