.not-found {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found__main-container {
    width: 600px;
    height: min-content;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px 0 70px;
}

.not-found__text-container {
    margin: 45px auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found__title {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    background-image: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    text-align: center;
    font-size: 250px;
    line-height: normal;
    padding: 0;
    margin: 0 0 5px;

}

.not-found__text {
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #848484;
    text-align: center;
    font-size: 35px;
    line-height: normal;
    margin: 0;
    padding: 0;
}



.not-found__link {
    text-decoration: none;
    padding: 0;
    margin: 0 0 45px;
    cursor: pointer;
    background: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    border-radius: 25px;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.not-found__link::before {
    content: '';
    position: absolute;
    top: 0;
    height: 50px;
    width: 45px;
    left: 0;
    transform: skewX(-49deg);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite linear;
}

.not-found__link:hover {
    opacity: 0.7;
}

.not-found__link-text {
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: rgb(43, 43, 43);
    text-align: center;
    font-size: 25px;
    line-height: normal;
}

@keyframes flareAnimation {
    0% {
        left: -100%;
    }

    100% {
        left: 150%;
    }
}

@media screen and (max-width: 700px) {
    .not-found__main-container {
        width: 420px;
        margin: 170px auto 130px;
    }

    .not-found__title {
        font-size: 180px;
        line-height: normal;
        margin: 0 0 10px;
    }

    .not-found__text {
        font-size: 22px;
        line-height: normal;
    }

    .not-found__link {
        font-size: 12px;
        margin: 0 auto 30px;
    }
}