.info-popup {
    position: absolute;
    top: 25px;
    right: 50px;
    width: 200px;
    height: 70px;
    background-color: rgb(30, 30, 30, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.visibly {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.info-popup__text {
    color: rgb(206, 206, 206);
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    max-width: 90%;
    margin: auto auto auto;
}