.header {
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 100px;
}

.header__main-container {
    background-color: rgb(30, 30, 30);
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__main-logo {
    background-image: url('../../images/header__icon.svg');
    display: block;
    margin: 0 0 0 50px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.header__main-logo:hover {
    opacity: 0.7;
}

.header__search-form {
    margin-left: 125px;
    display: flex;
    width: 600px;
    height: 50px;
    flex-direction: row;
    background: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    align-items: center;
    border-radius: 20px;
}

.header__form-tip {
    position: absolute;
    margin: 0 0 0 33px;
    top: 9px;
    color: aliceblue;
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    opacity: 0.6;
}

.header__search-icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-color: transparent;
    margin-left: 8px;
}

.header__search-input {
    width: 500px;
    height: 100%;
    margin: 0 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.header__search-input::placeholder {
    color: rgb(30, 30, 30, 0.4);
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.header__search-input:focus {
    font-size: 20px;
    color: rgb(43, 43, 43);
    outline: none;
}

.header__delete-button {
    background-image: url('../../images/delete-icon.png');
    width: 25px;
    height: 25px;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    margin-right: 8px;
    border: none;
    box-shadow: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.header__delete-button:hover {
    opacity: 0.7;
}

.header__loading-icon {
    margin-right: 8px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-color: transparent;
    animation: 1s linear 0s normal none infinite running rot;
}

.header__enable-link {
    background: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.header__enable-link:hover {
    opacity: 0.7;
}

.header__enable-link::before {
    content: '';
    position: absolute;
    top: 0;
    height: 50px;
    width: 45px;
    transform: skewX(-49deg);
    left: -100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite linear;
}

.header__disable-link {
    opacity: 0.8;
    background: rgb(76, 76, 76);
    cursor: default;
}

.header__favorite-link {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: 50px;
}

.header__favorite-icon {
    width: 40px;
    height: 40px;
    margin: 0 12px;
    background-size: cover;
    background-color: transparent;
}

.header__container {
    border-radius: 25px;
    height: 50px;
    width: 200px;
    margin: 0 50px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: relative;
    overflow-x: hidden;
}

.unlogged-container {
    margin-left: auto;
}

.header__container-title {
    width: 100px;
    margin: 0 25px 0 0;
    color: rgb(43, 43, 43);
    font-size: 25px;
    text-align: center;
}

.header__container-icon {
    margin-left: 18px;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-color: transparent;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 780px) and (min-width: 650px) {
    .header__main-logo {
        margin-left: 25px;
    }

    .header__search-form {
        margin-left: 30px;
        width: 360px;
    }

    .header__search-input {
        width: 250px;
    }

    .header__container {
        margin-left: 10px;
    }

    .unlogged-container {
        margin-left: auto;
    }
}


@media screen and (max-width: 1200px) and (min-width: 780px) {
    .header__search-form {
        margin-left: 45px;
        width: 440px;
    }

    .header__search-input {
        width: 380px;
    }

    .header__container {
        width: min-content;
        margin-left: 15px;
    }

    .unlogged-container {
        margin-left: auto;
    }
}


@media screen and (max-width: 920px) {
    .header__container-title {
        display: none;
    }

    .header__container {
        margin-right: 25px;
        width: min-content;
    }

    .header__container-icon {
        margin: 0 12px;
    }

    .header__favorite-icon {
        margin: 0 12px;
    }
}


@media screen and (max-width: 650px) {
    .header {
        height: 60px;
    }

    .header__main-logo {
        width: 30px;
        height: 35px;
    }

    .header__search-form {
        display: none;
    }

    .header__container {
        height: 40px;
        margin-left: 15px;
    }

    .unlogged-container {
        margin-left: auto;
    }

    .header__favorite-link {
        height: 40px;
        width: 54px;
    }

    .header__favorite-icon {
        width: 30px;
        height: 30px;
    }

    .header__container::before {
        height: 40px;
    }

    .header__container-icon {
        width: 30px;
        height: 30px;
    }
}