.footer {
    width: 100%;
    height: 70px;
    padding: 60px 0 20px;
    background-color: rgb(30, 30, 30);
}

.footer__container {
    max-width: 1420px;
    height: 70px;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #E8E8E8;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__text {
    font-size: 20px;
    color: #bdbdbd;
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    opacity: 0.8;
}

.footer__link {
    color: #bdbdbd;
    font-size: 20px;
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0 0 0 auto;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.footer__link:hover {
    opacity: 1;
}

.footer__link:last-child {
    margin-left: 20px;
}


@media screen and (max-width: 670px) {
    .footer {
        padding-top: 40px;
    }

    .footer__text {
        font-size: 18px;
    }

    .footer__link {
        font-size: 18px;
    }
}


@media screen and (max-width: 520px) {
    .footer__name {
        display: none;
    }
}