.movie {
    position: relative;
    width: 75%;
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
}

.movie__button {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 4;
    padding: 0;
    border: 0;
    margin: auto auto 10px;
    justify-self: end;
    width: min-content;
    height: min-content;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 45, 45);
    opacity: 0.75;
    transition: opacity 0.3s ease;
}

.liked-button {
    background-color: rgb(48, 48, 48);
}

.movie__button:hover {
    opacity: 1;
    cursor: pointer;
}

.movie__button-icon {
    height: 20px;
    width: 20px;
    margin: 2.5px 5px;
}

.movie__poster {
    grid-row: 1 / -1;
    width: 300px;
    margin: 0 35px 20px 0;
    background-position: center;
    background-color: transparent;
}

.movie__info-container {
    display: grid;
    height: min-content;
    grid-template-columns: repeat(2, min-content);
    grid-auto-rows: min-content;
    row-gap: 10px;
    justify-content: center;
    margin: 0 auto 0 0;
}

.movie__title {
    grid-column: 1 / -1;
    margin: 0 0 10px;
    color: rgb(18, 18, 18);
    font-size: 31px;
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.movie__dt {
    width: min-content;
    white-space: nowrap;
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: rgb(45, 45, 45);
}

.movie__dd {
    white-space: nowrap;
    margin: 0 0 0 35px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.movie__ratings {
    margin-top: 45px;
}

.movie__rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie__rating-icon {
    width: 25px;
    height: 25px;
    opacity: 0.75;
    background-position: center;
    background-color: transparent;
}

.movie__rating {
    margin: 0 0 10px 10px;
    white-space: nowrap;
    font-style: normal;
    font-size: 16px;
    color: rgb(45, 45, 45);
    font-weight: 400;
}

.movie__rating-span {
    font-style: normal;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-left: 15px;
}

.movie__plot {
    max-width: 635px;
    grid-column: 2 / -1;
    margin: 0;
}