.auth {
    position: relative;
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 80px;
    margin: 0;
}

.auth__form-container {
    width: 600px;
    height: min-content;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 65px 0 0;
}

.auth__icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    top: 15px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.auth__icon-container:hover {
    opacity: 0.5;
}

.auth__back-icon {
    height: 22px;
    width: 22px;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.auth__title {
    color: rgb(206, 206, 206);
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    margin: 65px 0 25px;
}

.auth__tip {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 270px;
    height: min-content;
    border-radius: 20px;
    background-color: rgb(30, 30, 30, 0.88);
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__tip-text {
    color: rgb(206, 206, 206);
    margin: 10px 10px 0;
    text-align: center;
}

.auth__tip-span {
    font-size: 15px;
    cursor: pointer;
    margin: 5px auto 5px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    opacity: 1;
    transition: opacity 0.3s ease;
}

.auth__tip-span:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1230px) {
    .auth__form-container {
        margin-top: 130px;
    }

    .auth__tip {
        top: 5px;
        bottom: auto;
    }
}


@media screen and (max-width: 700px) {
    .auth {
        padding-bottom: 40px;
    }

    .auth__form-container {
        margin: 140px 0 0;
        width: 420px;
    }
}

@media screen and (max-width: 460px) {
    .auth__form-container {
        width: min-content;
    }

    .auth__title {
        font-size: 29px;
    }
}