.auth {
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.auth__form-container {
    width: 600px;
    height: min-content;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 75px 0 70px;
}

.auth__icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    top: 15px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.auth__icon-container:hover {
    opacity: 0.5;
}

.auth__back-icon {
    height: 22px;
    width: 22px;
    
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.auth__title {
    color: rgb(206, 206, 206);
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    margin: 65px 0 25px;
}

.auth__form {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__input {
    width: 400px;
    height: 45px;
    background: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    border-radius: 22px;
    padding: 0 20px;
    margin-bottom: 15px;
    border: none;
}

.auth__input::placeholder {
    margin: 0 10px;
    color: rgb(30, 30, 30, 0.4);
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.auth__input:focus {
    border: none;
    outline: none;
}

.auth__password-container {
    position: relative;
}

.auth__visibility-icon {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.auth__visibility-icon:hover {
    opacity: 0.7;
}

.auth__button {
    width: min-content;
    height: 50px;
    margin: 23px 0 0;
    background-color: rgb(19, 19, 19);
    box-shadow: none;
    border: 2px solid rgb(31, 31, 31);
    border-radius: 20px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.auth__button:hover {
    opacity: 0.7;
}

.auth__button-text {
    margin: 15px;
    font-size: 25px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    background-image: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    text-align: center;
}

.auth__disable-button {
    opacity: 0.2;
    background-color: rgb(76, 76, 76);
    cursor: default;
}

.auth__disable-button:hover {
    opacity: 0.2;
}

.auth__link-container {
    margin: 8px 0 50px;
}

.auth__link-text {
    color: rgb(143, 143, 143);
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

.auth__link {
    cursor: pointer;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.auth__link:hover {
    opacity: 0.7;
}


@media screen and (max-width: 700px) {

    .auth__form-container {
        margin: 170px 0 160px;
        width: 420px;
    }

    .auth__input {
        width: 250px;
        height: 35px;
    }

}