.auth {
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.auth__form-container {
    width: 600px;
    height: min-content;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 75px 0 70px;
}

.auth__icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    top: 15px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background: linear-gradient(70deg, rgb(220, 140, 252), rgb(129, 215, 255));
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.auth__icon-container:hover {
    opacity: 0.5;
}

.auth__back-icon {
    height: 22px;
    width: 22px;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.auth__title {
    color: rgb(206, 206, 206);
    font-family: Geoform, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    margin: 65px 0 25px;
}


@media screen and (max-width: 700px) {
    .auth__form-container {
        margin: 170px 0 160px;
        width: 420px;
    }
}

@media screen and (max-width: 460px) {
    .auth__form-container {
        width: min-content;
    }

    .auth__title {
        font-size: 29px;
    }
}